*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body{
    background-image: url(breno-machado-in9-n0JwgZ0-unsplash.jpg);
    background-size: cover;
    width: 40%;
}
@keyframes example {
    0%   {transform: translateY(10rem) scale(.1);}
    75%  {transform: translateY(-1rem) scale(1.1);}
    100% {transform: translateY(0rem) scale(1);}
}
@keyframes left {
    0%   {transform: translateX(100rem);}
    75%  {transform: translateX(-3rem);}
    100% {transform: translateX(0rem);}
}
@keyframes right {
    0%   {transform: translateX(-100rem);}
    75%  {transform: translateX(3rem);}
    100% {transform: translateX(0rem);}
}
@keyframes top {
    0%   {transform: translateY(-400rem);}
    75%  {transform: translateY(1rem);}
    100% {transform: translateY(0rem);}
}
.box{
    width:7.5rem;
    position: relative;
    display: inline-block;
    border:2px solid white;
    margin-left: 3.5rem;
    margin-top:5rem;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 1rem white;
}
.box a{
    text-decoration: none;
    color: white;
}  
.roll{
    background-color: rgba(128, 128, 128, 0.568);
	width:7.5rem;
    border:1px solid black;
    height: 3.5rem;
    font-size: 1.3rem;
    font-family: 'Sofia';
}
.laura{
    margin-top: 1rem;
}
#ind{
    width: 100%;
    height: 100%;
    background-image: url(not-ludo-1745964_960_720.jpg);
    background-size: cover;
}
h1{
    font-size: 6rem;
    font-family: 'Nunito Sans';
    color: white;
    letter-spacing: 3px;
    display: inline-block;
    background-image: linear-gradient(to right,#ad1417 0%, #97550b 50%, #97550b 50%, #ad1417 100%);
    -webkit-background-clip: text;
    color: transparent;
    cursor: default;
    transform: translateY(0) scale(1);
    animation-name: left;
    animation-duration: 2s;
}
.centre{
    text-align: center;
    margin-top: -5rem;
}
.shadow{
    display: inline-block;
    position:relative;
}
.shakuni{
    height: 10rem;
    margin: 3rem;
    box-shadow: 1rem 2rem 2rem black;
    border-radius: .5rem;
    display: inline-block;
    animation-name: top;
    animation-duration: 3s;
    transform: scale(1);
    transition: all .5s;
}
.shakuni:hover{
    transform: scale(1.1);
}
h4{
    font-size: 1.65rem;
    font-family: 'Nunito Sans';
    color: white;
    display: inline-block;
    background-image: linear-gradient(to right,#97550b 0%, #ad1417 50%, #ad1417 50%, #97550b 100%);
    -webkit-background-clip: text;
    color: whitesmoke;
    cursor: default;
    animation-name: right;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}
.ma{
    margin-top: 3rem;
}
.btn, .btn:link, .btn:visited{
    text-decoration: none;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: white;
    background-color: rgb(13, 190, 102);
    margin-top: -2rem;
    padding: 1rem 2rem;
    border-radius: 1.5rem;
    font-family: 'Sawarabi Gothic';
    transition: all .4s;
    display: inline-block;
    transform: translateY(0) scale(1);
    animation-name: example;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}
.btn:hover{
    color: rgb(13, 190, 102);
    background-color: cornsilk;
    transform: translateY(.4rem) scale(1.1);
}
.dice{width: 7.5rem;
    height: 3.5rem;
    color: white;
    text-align: center;
    font-size: 2.5rem;
    cursor: default;
    font-family: 'Sofia';
}
.turns{
    margin: 3rem 10rem 0rem 0rem;
    font-family: 'M PLUS Rounded 1c';
    font-size: 1.75rem;
    font-weight: 700;
    border: 2px solid black;
    padding: .5rem 1rem;
    background-color: white;
    border-radius: 1rem;
    box-shadow: -.3rem -.2rem 2rem white;
    float: right;
    cursor: default;
}
@media (max-width: 90em) {
    body {
        width: 45%; } }
@media (max-width: 80em) {
    body {
        width: 58%;
    }
}  
@media (max-width: 70em) {
    body {
        width: 67%;
    }
}  
@media (max-width: 60em) {
    body {
        width: 75%;
    }
}  
@media (max-width: 50em) {
    body {
        width: 100%;
    }
} 
  
#player1{
    margin:  2rem 0 0 5rem ;
    width: 5rem;
    padding: 1rem 5rem 1rem 1rem;
    border: 2px solid black;
    border-radius: .5rem;
    background-color: rgba(255, 255, 255, 0.9999);
    box-shadow: 0rem 0rem 1rem white;
    cursor: pointer;
    font-family: 'Sofia';
}
#player2{
    margin:  2rem 0 0 3rem ;
    width: 5rem;
    padding: 1rem 5rem 1rem 1rem;
    border: 2px solid black;
    border-radius: .5rem;
    float: right;
    transform: translateY(-5rem);
    background-color: white;
    box-shadow: 0rem 0rem 1rem white;
    cursor: pointer;
    font-family: 'Sofia';
}
.main{
    margin: 2rem 0 0 12rem;
}
.upper{
    height: 2.5rem;
    width: 20rem;
    margin-bottom: -.5rem;
}
.bottom{
    height: 2.5rem;
    width: 20rem;
    transform: translateY(-4.5rem);
}
.middle{
    width: 20.5rem;
    height: 20rem;
    
}

.left{

    width: 2.5rem;
    float: left;
}
.right{

    width: 2.5rem;
    float: right;
}
.block{
    height: 2rem;
    width: 2rem;
    border: 2px solid black;
    background-color: white;
    border-radius: .3rem;
    display: inline-block;
    background-repeat:no-repeat;
    box-shadow: 0rem 0rem .5rem white;
    font-family: 'Sawarabi Gothic';
}
.blocks{
    height: 2rem;
    font-family: 'Sawarabi Gothic';
    width: 2rem;
    box-shadow: 0rem 0rem .5rem white;
    border: 2px solid black;
    border-radius: .3rem;
    display: inline-block;
    background-color: white;
    background-repeat:no-repeat;   
    margin-top: 2px;
    margin-bottom: -3px;
}
#token1{
    font-size: 100px;
    color: blue;
    margin: -70px 1rem -70px 0;
    padding:-70px 1rem -70px 0 ;
    text-shadow:black;
    text-shadow: .15rem .15rem .35rem black;
}
#token2{
    font-size: 100px;
    color: green;
    margin: -70px 1rem -70px 0;
    padding:-70px 1rem -70px 0 ;
    text-shadow: .15rem .15rem .35rem black;
}
.pad{
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}
.lora{
    width: 7rem;

}
.instru{
    padding: 3rem 0 0 2rem;
    cursor: default;
    color: white;
    font-family: 'Sawarabi Gothic';
}